.welcome-Square {
  display: flex;
  justify-content: space-around;
  box-shadow: none;
}

.score {
  display: flex;
  justify-content: space-around;
  margin-bottom: 30px;
}

.welcome-button {
  border-radius:40px;
  background: none;
}